table {
	border-collapse: collapse;
	font-family: Calibri, sans-serif;
}
colgroup,
tbody {
	border: solid medium;
}
td {
	border: solid thin;
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 25px;
	padding: 0;
}
